*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
client_src/src/components/Summary.js
client_src/src/App.css
client_src/src/App.js
client_src/src/App.test.js
client_src/src/index.js
client_src/src/registerServiceWorker.js
client_src/src/store.js
client_src/src/components/ChartSummary.js
client_src/src/components/ChoiceQuestion.js
client_src/src/components/Form.js
client_src/src/components/GroupSummary.js
client_src/src/components/Home.js
client_src/src/components/Login.js
client_src/src/components/Main.js
client_src/src/components/Navbar.js
client_src/src/components/QuestionGroup.js
client_src/src/components/Questions.js
client_src/src/components/TextQuestion.js
client_src/src/components/TextSummary.js
client_src/src/components/createForm/addGroup.js
client_src/src/components/createForm/addQuestion.js
client_src/src/components/createForm/createForm.js
client_src/src/components/FormSummary/FormSummary.js
